# # This test directory for testing to simulate a Python library project structure.

.DS_Store
__pycache__
.coverage
.coverage.*
*.egg-info/
.pypirc
.pytest_cache/
.python-version
build/
code_source/
coverage.xml
dist/
